<!doctype html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Příklad - Layout stránky</title>
    <link rel="stylesheet" href="layout.css">
    <style>
        .boxtest {
            padding:20px;
            margin:30px;
            border: 5px solid blue;
            background-color: aqua;
            width:100px;
            height:100px;
            /* box-sizing: border-box; */
        }
    </style>
</head>
<body>
    <header>
        <div>
            <h1>Lorem Ipsum Dolor sit amet</h1>
        </div>
        <div id="menu">
            <nav>
                <ul>
                    <li><a href="#">Etiam egestas</a></li>
                    <li><a href="#">Nulla turpis</a></li>
                    <li><a href="#">Fusce tellus</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="boxes">
            <h2>Box model</h2>
            <div class="boxtest">
                obsah
            </div>
        </section>
        <section>
            <h2>Flex</h2>
            <section class="stick">
            <div class="container">
                <div class="item">
                    <h2>Etiam egestas wisi a erat</h2>
                    <p>Nulla turpis magna, <span class="imp">cursus sit amet</span>, suscipit a, interdum id, felis. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Praesent vitae arcu tempor neque lacinia pretium. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Etiam dictum tincidunt diam. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Fusce consectetuer risus a nunc. Quisque tincidunt scelerisque libero. Pellentesque arcu. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Etiam egestas wisi a erat.</p>
                </div>
                <div class="item">
                    <h2>Aenean vel massa quis mauris</h2>
                    <p>Praesent id justo in neque elementum ultrices. Aenean fermentum risus id tortor. Pellentesque pretium lectus id turpis. Aliquam erat volutpat. Nulla non lectus sed nisl molestie malesuada. Integer pellentesque quam vel velit. Duis condimentum augue id magna semper rutrum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Praesent vitae arcu tempor neque lacinia pretium. Nunc dapibus tortor vel mi dapibus sollicitudin.</p>
                </div>
                <div class="item">
                    <h2>Temporibus autem quibusdam</h2>
                    <p>Aliquam erat volutpat. In convallis. Aliquam erat volutpat. Praesent id justo in neque elementum ultrices. Etiam quis quam. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Fusce wisi. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Aliquam erat volutpat. Donec quis nibh at felis congue commodo. Nulla non lectus sed nisl molestie malesuada. Vivamus ac leo pretium faucibus. Aliquam ante.</p>
                </div>
                <div class="item">
                    <h2>Maecenas ipsum velit</h2>
                    <p>Integer lacinia. Vestibulum fermentum tortor id mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Pellentesque ipsum. Maecenas aliquet accumsan leo. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                </div>
            </div>
        </section>
        </section>
        <section>
            <h2>Grid</h2>
            <div class="gallery">
                <div class="image">
                    <img src="img/cat1.webp" alt="AI generated sample image with cat"/>
                    <p>
                        Aliquam erat volutpat. Pellentesque arcu. Fusce nibh.
                    </p>
                </div>
                <div class="image">
                    <img src="img/cat2.webp" alt="AI generated sample image with cat"/>
                    <p>
                        Duis viverra diam non justo.
                    </p>
                </div>
                <div class="image">
                    <img src="img/cat3.webp" alt="AI generated sample image with cat"/>
                    <p>
                        Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus.
                    </p>
                </div>
                <div class="image">
                    <img src="img/cat4.webp" alt="AI generated sample image with cat"/>
                    <p>
                        Aliquam erat volutpat. 
                    </p>
                </div>
                <div class="image">
                    <img src="img/cat5.webp" alt="AI generated sample image with cat"/>
                    <p>
                        Etiam posuere lacus quis dolor.
                    </p>
                </div>
                <div class="image">
                    <img src="img/cat6.webp" alt="AI generated sample image with cat"/>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit.
                    </p>
                </div>
            </div>
        </section>
    </main>
</html>
